.destination {
  margin: 10px;
}

.red {
  border-color: red;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.green {
  border-color: green;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.orange {
  border-color: orange;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.yellow {
  border-color: yellow;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.blue {
  border-color: blue;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.white {
  border-color: grey;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

#station-info {
  margin: 20px;
}